:root {
  --bg: #212121;
  --bgAbove: #333333;
  --bgBelow: #161616;
  --bgPre: #272822;
  --bgTransparent: #181818e3;
  --textColor: white;
  --primary: #fc929e;
  --primaryHover: #ff596d;
  --inactiveColor: gray;
  --codeColor: white;
  --highlight: #c88838;
}
html {
  margin: 0;
  overflow-y: scroll;
  margin-right: 0;
}
body {
  width: 95vw;
  margin: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 960px;
  margin: auto;
  color: var(--textColor);
  background-color: var(--bg);
  font-family: "Open Sans", sans-serif;
  font-size: 1.1em;
  font-weight: 400;
}
header,
footer {
  flex: none;
}
footer *:hover {
  text-decoration: none !important;
}
main {
  flex: 1 1 0%;
}
code,
kbd {
  font-size: 1em !important;
  color: var(--codeColor);
  font-family: "Fira Code", monospace;
}
pre {
  font-size: 0.9em;
  padding: 0.5em;
  border-radius: 5px;
  background-color: var(--bgPre) !important;
  overflow: auto;
  border: solid 1px var(--textColor);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.2em;
  margin: 1em 0 0.5em 0;
  font-weight: 400;
}
h1 {
  font-size: 2.1em;
}
h2 {
  font-size: 1.9em;
}
h3 {
  font-size: 1.7em;
}
h4 {
  font-size: 1.5em;
}
h5 {
  font-size: 1.3em;
}
h6 {
  font-size: 1.1em;
}
p {
  margin: 0.5em 0 1.25em 0;
  line-height: 1.5em;
}
a {
  color: var(--primary);
  text-decoration: none;
}
a:hover {
  color: var(--primaryHover);
  text-decoration: underline;
}
.metadata-items::before {
  content: "#";
}
svg {
  width: 1em;
  height: 1em;
}
blockquote {
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-left: solid 5px var(--textColor);
  background-color: var(--bgAbove);
  border-radius: 5px;
}
blockquote > p {
  margin: 0;
}
strong {
  font-weight: 700;
}
.footnotes {
  font-size: 0.9em;
}
.menu-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 1.2em !important;
  width: 100%;
  padding: 0.5em 1em;
  box-sizing: border-box;
}
.menu-item > i {
  display: inline-flex;
  margin-right: 5px;
}
.menu-item:hover {
  background-color: var(--bg);
  text-decoration: none;
}
table {
  text-align: center;
  text-align: -moz-center;
  border-collapse: collapse;
  display: block;
  overflow-x: auto;
}
thead {
  border-top: solid 3px var(--textColor);
  background-color: var(--bgBelow);
}
tbody {
  border-bottom: solid 2px var(--textColor);
}
th,
td {
  border: solid 1px var(--textColor);
  padding: 0.25em 0.5em;
  text-align: left;
}
mark {
  background-color: var(--highlight);
  color: var(--bg);
}
kbd {
  background-color: var(--bgAbove);
  padding: 4px;
  margin: 0 2px;
  border-radius: 5px;
  box-shadow: 2px 2px 5px 2px var(--bgBelow);
}
.hamburger-cross {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.hamburger,
.cross {
  display: inline-flex;
  border-radius: 50%;
  position: absolute;
  padding: 10px;
  background-color: var(--primaryHover);
  color: var(--bgBelow);
  font-size: 1.3em;
}
.social-icons > a {
  border-radius: 50%;
  margin: 0 5px;
  display: flex;
}
.social-icon:hover {
  background-color: var(--bgBelow);
}
.sharing-icon {
  border-radius: 50%;
  margin: 0 5px 0 0;
}
.sharing-icon > i {
  display: inline-flex;
  border-radius: 50%;
  padding: 9px;
  font-size: 1.5em;
}
.sharing-icon > i:hover {
  background-color: var(--bgBelow);
  color: var(--primaryHover);
}
ul.pagination {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  list-style-type: none;
}
li.page-item {
  font-size: 0.9em;
  padding: 6px 12px;
}
li.page-item {
  border-top: 1px solid var(--primary);
  border-bottom: 1px solid var(--primary);
  border-left: 1px solid var(--primary);
  background-color: var(--bg);
}
li.page-item.disabled a {
  color: var(--inactiveColor);
}
li.page-item.active {
  background-color: var(--primary);
}
li.page-item.active a {
  color: var(--bg);
  font-weight: 700;
}
li.page-item:first-child {
  border-radius: 10px 0 0 10px;
}
li.page-item:last-child {
  border-radius: 0 10px 10px 0;
  border-right: 1px solid var(--primary);
}
.next-link,
.previous-link {
  padding: 10px 3px;
  border-radius: 5px;
  display: inline-block;
  text-align: center;
  min-width: 100px;
  margin-bottom: 1em;
}
.previous-link.active,
.next-link.active {
  color: var(--primary);
  background-color: var(--bg);
  border: solid 1px var(--primary);
  cursor: pointer;
}
.next-link.active:hover,
.previous-link.active:hover {
  color: var(--bg);
  text-decoration: none;
  background-color: var(--primary);
}
.previous-link.disabled,
.next-link.disabled {
  color: var(--inactiveColor);
  border: solid 1px var(--inactiveColor);
}
.show-more-info > svg {
  animation: blinkingText 1s infinite;
  transition: all 0.5s;
  color: var(--bg);
}
.show-more-info > svg:hover {
  animation: none;
  transition: all 0.8s;
}
.show-more-info {
  background-color: var(--primary);
}
.show-more-info:hover {
  cursor: pointer;
}
@keyframes blinkingText {
  0% {
    color: var(--bg);
  }
  49% {
    color: var(--bg);
  }
  60% {
    color: transparent;
  }
  99% {
    color: transparent;
  }
  100% {
    color: var(--bg);
  }
}
.content {
  border-top: dashed 1px var(--textColor);
}
.content img {
  max-width: 95%;
  display: block;
  margin: 1em auto;
}
