{{ define "main" }}

<h1 style="margin: 0 0 0.5em 0; font-size: 2.5em;">
  {{ if eq .Kind "taxonomy" }}#{{ end }}{{- .Title -}}
</h1>

{{ range (.Paginator .Site.Params.theme.paginateNum).Pages }}
<div
  class="list-sections"
  style="border-top: dashed 1px; margin: 0; padding: 12px 0;"
>
  <span style="font-size: 0.85em; font-style: italic;"
    ><time>{{- dateFormat .Site.Params.theme.dateFormat .Date }}</time> &middot;
    {{.Site.Params.author }}</span
  >
  <a href="{{ .Permalink | relURL }}">
    <h2 style="margin: 0; font-size: 1.2em;">{{ .Title -}}</h2>
  </a>
  <p style="margin: 0; font-size: 0.9em;">
    {{ .Summary | plainify | truncate 100 }}
  </p>
</div>
{{ end }}

<script>
  document.onkeydown = function (e) {
    const thisPage = document.querySelector(".page-item.active");
    if (thisPage) {
      switch (e.keyCode) {
        case 37:
          //left key
          let previousPage = thisPage.previousElementSibling.querySelector("a");
          if (previousPage) {
            previousPage.click();
          }
          break;
        case 39:
          //right key
          let nextPage = thisPage.nextElementSibling.querySelector("a");
          if (nextPage) {
            nextPage.click();
          }
          break;
      }
    }
  };
</script>
{{ end }}
