{{ define "main" }}
<div
  style="display: flex; flex-direction: column;"
>
  <h1 style="margin: 0 0 0.25em 0; font-size: 2.5em;">
    {{- .Title -}}
  </h1>
  <div class="sharing-icons">
    {{ partial "share.html" .}}
  </div>
  <div class="metadata">
    {{ partial "metadata" . }}
  </div>
</div>
<div style="margin-bottom: 1.5em; font-style: italic; font-size: 0.9em;">by {{ .Site.Params.author }} &middot;
  <time>{{ dateFormat .Site.Params.theme.dateFormat .Date }}</time>
</div>
<div class="content">
  {{ .Content }}
</div>
<script>
  document.onkeydown = function(e) {
    switch (e.keyCode) {
      case 37:
        //left key
        document.querySelector(".previous-link").click();
        break;
      case 39:
        //right key
        document.querySelector(".next-link").click();
        break;
    }
  };
</script>
{{ end }}
