<footer style="display: flex; flex-direction: column; margin-top: 0.5em;">
  {{ if eq .Kind "page" }} {{ partial "prevnext.html" . }} {{ end }}
  {{ if eq  .Kind "section" }}
  <div>
    {{ template "_internal/pagination.html" . }}
  </div>
  {{ end }}
  <div style="padding-top: 10px; border-top: solid 1px; margin: 5px 0; font-size: 0.8em;">
    {{ .Site.Params.footer }} <a href="https://github.com/darshanbaral/ghazal">ghazal</a> by
    <a href="https://www.darshanbaral.com/">darshan</a>.
  </div>
</footer>
