<div
  class="hamburger-cross"
  style="
    position: absolute;
    top: 5px;
    z-index: 50;
    width: 50px;
    height: 50px;
    font-size: 1.2em;
  "
  onclick="myFunction()"
>
  <i class="hamburger" style="visibility: visible;">
    {{ partial "icons/hamburger.html" . }}
  </i>

  <i class="cross" style="visibility: hidden;">
    {{ partial "icons/cross.html" . }}
  </i>
</div>
<script>
  const htmlDoc = document.querySelector("html");
  const scrollBarWidth = window.innerWidth - htmlDoc.clientWidth;

  const showMenu = (menu, hamBurger, cross) => {
    htmlDoc.style.overflowY = "hidden";
    htmlDoc.style.marginRight = scrollBarWidth + "px";
    hamBurger.style.visibility = "hidden";
    cross.style.visibility = "visible";
    menu.classList.remove("collapsed");
    menu.style.top = "0";
  };

  const hideMenu = (menu, hamBurger, cross) => {
    htmlDoc.style.overflowY = "scroll";
    htmlDoc.style.marginRight = "0";
    hamBurger.style.visibility = "visible";
    cross.style.visibility = "hidden";
    menu.classList.add("collapsed");
    menu.style.top = "-100vh";
  };

  const myFunction = () => {
    const menu = document.querySelector(".slide-menu");
    const hamBurger = document.querySelector(".hamburger");
    const cross = document.querySelector(".cross");
    menu.classList.contains("collapsed")
      ? showMenu(menu, hamBurger, cross)
      : hideMenu(menu, hamBurger, cross);
  };
</script>
