<div
  class="hamburger-cross"
  style="
    position: absolute;
    top: 5px;
    z-index: 50;
    width: 50px;
    height: 50px;
    font-size: 1.2em;
  "
  onclick="myFunction()"
>
  <i class="hamburger" style="visibility: visible;">
    {{ partial "icons/hamburger.html" . }}
  </i>

  <i class="cross" style="visibility: hidden;">
    {{ partial "icons/cross.html" . }}
  </i>
</div>
<script>
  let currentX, currentY;
  let initialHeaderShadow = document.querySelector("header").style.boxShadow;

  const showMenu = (menu, hamBurger, cross, main, footer) => {
    hamBurger.style.visibility = "hidden";
    cross.style.visibility = "visible";
    currentX = window.scrollX;
    currentY = window.scrollY;
    menu.classList.remove("collapsed");
    menu.style.width = "100%";
    main.style.display = "none";
    footer ? (footer.style.display = "none") : undefined;
  };

  const hideMenu = (
    menu,
    hamBurger,
    cross,
    main,
    footer,
    currentX,
    currentY
  ) => {
    hamBurger.style.visibility = "visible";
    cross.style.visibility = "hidden";
    menu.classList.add("collapsed");
    menu.style.width = "0px";
    main.style.display = "block";
    footer ? (footer.style.display = "block") : undefined;
    window.scrollTo(currentX, currentY);
  };

  const myFunction = () => {
    const menu = document.querySelector(".slide-menu");
    const hamBurger = document.querySelector(".hamburger");
    const cross = document.querySelector(".cross");
    const main = document.body.querySelector("main");
    const footer = document.body.querySelector("footer");
    menu.classList.contains("collapsed")
      ? showMenu(menu, hamBurger, cross, main, footer)
      : hideMenu(
          menu,
          hamBurger,
          cross,
          main,
          footer,
          currentX,
          currentY
        );
  };
</script>
