<header
  style="
  width: 95vw;
  max-width: 960px;
  position: fixed;
  top: 0;
  z-index: 10;
  transition: all 0.3s;
  height: {{ if not .IsHome}}60px{{ else }}0{{ end }};
  box-shadow: {{ if not .IsHome}} 0px 0px 2px 2px black {{ else }} none {{ end }};
  background-color: {{ if not .IsHome}} var(--bgDarker) {{ else }} inherit {{ end }};
  "
>
  {{ partial "hamburgerCross.html" . }}{{ if not .IsHome}}
  <div
    style="
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: flex-end;
      align-items: flex-end;
      padding: 0 1em 0 2em;
      height: 100%;
    "
  >
    {{ partial "breadcrumb.html" . }}
  </div>
  {{ end }} {{- partial "menu.html" . -}}
</header>
