<div
  style="
    font-size: 2.2em;
    margin: 0 0 0.5em 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    color: var(--primaryColor);
    text-align: center;
    line-height: 1.25em;
  "
>
  {{.Site.Params.title}}
  <div
    style="
      width: 20px;
      line-height: 0;
      padding: 1px 7px;
      margin-left: 0.35em;
      border-radius: 7px;
    "
    class="show-more-info chevron-hz"
    onclick="showInfo()"
  >
    {{ partial "icons/chevron.html" . }}
  </div>
</div>

<script>
  const showInfo = () => {
    const showMoreInfo = document.querySelector(".show-more-info");
    const profileImage = document.querySelector(".profile-image");
    const chevron = document.querySelector(".fa-chevron-right");
    const moreInfo = document.querySelector(".more-info");

    if (showMoreInfo.classList.contains("chevron-hz")) {
      showMoreInfo.classList.remove("chevron-hz");
      chevron.style.transform = "rotate(90deg)";
      profileImage.style.opacity = "0";
      profileImage.style.width = "0";
      profileImage.style.transform = "rotate(180deg)";
      moreInfo.style.visibility = "visible";
      moreInfo.style.opacity = "1";
    } else {
      showMoreInfo.classList.add("chevron-hz");
      chevron.style.transform = "none";
      profileImage.style.visibility = "visible";
      profileImage.style.width = "100%";
      profileImage.style.transform = "none";
      profileImage.style.opacity = "1";
      moreInfo.style.visibility = "hidden";
      moreInfo.style.opacity = "0";
    }
  };
</script>
